.nav__container {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  cursor: pointer;

  width: 100%;
}
.nav__btn {
  margin-top: 3rem;
}
.nav__btn:hover {
  text-decoration: underline 2px solid;
}

.logo__container {
  margin-bottom: 4rem;
}
