.search__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10rem;
  font-size: 2rem;
}
.search__title {
  margin-top: 10rem;
  color: #55afe7;
}
.input__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}
.search__input {
  height: 4rem;
  width: 30ch;
  border-radius: 1.5rem;
}
.search__btn {
  background-color: inherit;
  border: none;
  border-radius: 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  letter-spacing: 2px;
  font-size: 1.2rem;
  font-weight: 200;
  cursor: pointer;
  width: 10rem;
  margin-top: 1.5rem;
}
.loading__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.loading__message__container {
  display: flex;
  flex-direction: row;
}

.loading__message {
  font-size: 2.5rem;
  margin-top: 2rem;
  color: #55afe7;
  margin-right: 0.5rem;
  animation: blink 1s infinite alternate-reverse;
}

.loading__dots {
  width: 10px;
  height: 10px;
  background-color: #55afe7;
  border-radius: 50%;
  animation: blink 1s infinite alternate;
  margin-left: 8px;
  margin-top: 4rem;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.search__btn:hover {
  background-color: #55afe7;
  color: aliceblue;
}

::placeholder {
  font-size: 1.5rem;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: capitalize;
}
